@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
*
{
	margin: 0px;
	padding:0px;
	box-sizing: border-box;
} 
body{
font-family: 'Kiwi Maru', serif;
}
#home
{
	
	height: 700px;
	

}
header
{
	
    padding: 15px 0;
    
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 120px;

}
.red{
    background: silver;
    transition: 0.9s;
}
.logo
{
	
	height: 300px;
	width:300px;
	position: absolute;
	left: 56%;
	top: 20px;
	content: "";
	margin-left: -150px;
}

.logo img
{
	height: 90px;

}

.menu_list
{
	
	padding:10px 0px;
}
.menu_list ul
{
	list-style: none;
	text-align: right;
	padding: 10px 10px;
}
.menu_list ul li
{
	display: inline;
}
.menu_list ul li:nth-child(1)
{
float: left;
}
.menu_list ul li:nth-child(2)
{
float: left;
}
.menu_list ul li:nth-child(3)
{
float: left;
}
.menu_list ul li a
{
	text-decoration: none;
	
	color: black;
	padding:20px;
	font-size: 20px;
}
.menu_list li:hover a{
   
    color:#3EA0B9;
    text-decoration: none;
   
    }

.text-right
{
	padding: 140px 0;
	text-align: center;
	

}
.text-right h4
{
	color: black;}
.text-right h1
{
	color: green;
	
}


.btn
{

    background: green;
    color: black;
    padding: 20px;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    
}
.btn a
{
    color: silver;
    font-size: 13px;
    text-decoration: none;

}
.btn:hover {
    cursor: pointer;
    background: rgba(90, 86, 79, 0.199);
    color: black;
    transition: 0.7s;
}
.btn a:hover
{
	color: green;
}
.new-arrivals
{
	height: 900px;
	background: url(../img/bg1.jpg) no-repeat;
	background-size: cover;
}
.text1
{
	text-align: center;
	padding: 35px 0px;
}
.text1 span
{
	color: red;
}
.text1 a
{
	color: blue;
	font-size:30px;
	text-align: center;
	}
.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 55px 50px;
 }

 .card{
 	
    
     width: 230px;
     border: 1px solid rgba(209, 208, 208, 0.432);
     position: relative;

 }

 .card img{
     width: 100%;
     
 }

 .card:before{
    
     color: white;
     border-radius: 3px;
     padding: 2px;
     background: rgb(161, 92, 92);
     position: absolute;
     top:10px;
     left: 10px;
     font-size: 13px;
    
 }
 .card:after{
    
    color: black;
    border-radius: 3px;
    padding: 2px;
    background: rgba(224, 222, 222, 0.856);
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 13px;
}


.card:hover{
    box-shadow:0 0 10px rgba(0,0,0,.5);
}
.des-new{
    line-height: 1.6;
    padding: 10px;
    background-color: #D7D8D8;
}

.address{
    position: relative;
}

.des-new h2{
   
}

.address p{
    margin-left: 20px;
    font-weight: 100;
    color: rgb(95, 77, 77);
}

.address::before{
    content: '';
    font-family: fontawesome;
    color: #db435f;
    position: absolute;
    top: -6px;
    left: 0;
    font-size: 20px;
}

.price{
    font-weight:bold;
    text-decoration:line-through;
font-weight: 600;
    font-size: 18px;
  }
.price-new{
  font-size: 24px;
    font-weight: 600;
}
.top-list{
background: #edf7ff;
}

.big{
    width: 550px;
}

.big .des-new{
display: flex;
justify-content: space-between;
}

.btn
{
  background: #FFFF99;
  padding: 16px 32px;
  border-radius: 45px;
  display: inline-block;
  margin: 20px 0px;
}
.btn a
{
  font-size: :15px;
  color: black;
  text-shadow: yellow;
}

#slider
{
	height: 100vh;
	background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../img/3.jpg);
background-size: cover;
}
.bg-1
{
	padding: 90px 0px;
}
.carousel-caption
{
	padding-left: 400px;
}
.carousel-caption .btn3
{

    background: green;
    color: black;
    padding: 20px;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    
}
.carousel-caption .btn3 a
{
    color: silver;
    font-size: 13px;
    text-decoration: none;

}
.carousel-caption .btn3:hover {
    cursor: pointer;
    background: rgba(90, 86, 79, 0.199);
    color: black;
    transition: 0.7s;
}
.carousel-caption .btn3 a:hover
{
	color: green;
}

#flat
{
	height: 800px;
}
.hike
{
	text-align: center;padding: 350px 0;
}

.hike h1
{
	color: blue;

}
.hike p
{
	font-size: 20px;
	color: red;
}
.btn4
{

    background: #FFFF99;
    color: black;
    padding: 20px;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    
}
.btn4 a
{
    color: silver;
    font-size: 13px;
    text-decoration: none;

}
.btn4:hover {
    cursor: pointer;
    background: rgba(90, 86, 79, 0.199);
    color: black;
    transition: 0.7s;
}
.btn4 a:hover
{
	color: green;
}
#trainer
{
	height: 800px;
	background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../img/fot1.jpg) no-repeat;
	background-size: cover;
    padding: 60px 0px;
}
#trainer h2
{
	color: brown;
	font-size: 30px;
	text-align: center;
	
}
#trainer h2 span
{
	color: red;
}

.row{
    margin-top:30px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .des-new
 {
 	background-color: grey;
 }
 .des-new h2
 {
font-size: 30px;

 }
 .des-new p
 {
 	font-size: 20px;
 	text-align: center;

 }
 .des-new a
 {
 	text-align: center;
 }

 .card{
     
     width: 230px;
     border: 1px solid rgba(209, 208, 208, 0.432);
     position: relative;
 }

 .card img{
     width: 100%;
 }
 .card:before{
    
     color: white;
     border-radius: 3px;
     padding: 2px;
     background: rgb(161, 92, 92);
     position: absolute;
     top:10px;
     left: 10px;
     font-size: 13px;
    
 }
 .card:after{
    
    color: black;
    border-radius: 3px;
    padding: 2px;
    background: rgba(224, 222, 222, 0.856);
    position: absolute;
    top:10px;
    right: 10px;
    font-size: 13px;
}


.card:hover{
    box-shadow:0 0 10px rgba(0,0,0,.5);
}
.blog
{
	height: 700px;
	text-align: center;
}
.blom
{
	padding: 40px 0px;
	}
.blom span
{
	color: red;
}
.blom h1
{
	color: black;
}
.des-new1{
    line-height: 1.6;
    padding: 10px;
    background-color: #D7D8D8;
    float: right;
}

.des-new1
 {
 	background-color: grey;
 }
 .des-new1 h2
 {
font-size: 30px;

 }
 .des-new1 p
 {
 	font-size: 20px;
 	text-align: center;

 }
 .des-new1 a
 {
 	text-align: center;
 }
.row2
{
	
    align-items: center;
    padding: 55px 450px;

}
 .card1{
     
     width: 230px;
     border: 1px solid rgba(209, 208, 208, 0.432);
     position: relative;
     align-items: center;

 }

 .card1 img{
     width: 100%;
 }
footer
{
    height: 570px;
    background-color: grey;
    width: 100%;

}
footer ul{
    list-style: none;
}

footer ul li{
    display: block;
    padding: 10px 0;

}

footer ul li a{
    font-size: 14px;
    text-decoration: none;
    letter-spacing: 5px;
}

.flex-box{
    padding:50px 20px;
    display:flex;
    justify-content: space-between;
    width: 1100px;

}    
h1

{
color: pink;
font-size: 30px;
}

a
{
    color: white;
    font-size:40px;
    text-decoration: none;
}
.col2{

    color:white;
   
}


.col3{
    
    color:white;
    font-size: 14px;
    line-height: 25px;
}

.col3 ul li a
{
    color: white;
    margin: 0 10px;
}
.col3 p 
{
    font-size: 9px;
    color: black;
}
.col4{
    
    color:white;
    font-size: 14px;
    line-height: 25px;
}

.col4 ul li a
{
    color: white;
}
#anmol
{
  background-color: #f2bded;
 
}
<!!trip review!!>

.trip
{
  height: 200px;

}
.trip h4,h2
{
  color: black;
}
<!! destination !!>
#trek{
    padding: 20px 0;
    width: 100%;
    height: 100%;
}

#trek h1{
    text-align: center;
    font-size: 30px;
    padding: 50px 0;
    color: black;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.box{
    width: 66%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
   
}


.box2{
    width: 32%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.box2 img{
    width: 100%;
    height: 100%;
   }

.row img:hover{
transform: scale(1.2);
opacity: 0.8;
transition: 0.4s;
}
.row .box2 a
{
  color: black;
 
  text-decoration: none;
}  

<<sign  in>>

#container-login {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 445px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#container-register {
    background-color: #1D1F20;
    position: relative;
    top: 20%;
    margin: auto;
    width: 340px;
    height: 480px;
    border-radius: 0.35em;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

#title {
    position: relative;
    background-color: #1A1C1D;
    width: 100%;
    padding: 20px 0px;
    border-radius: 0.35em;
    font-size: 22px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.lock {
    position: relative;
    top: 2px;
}

.input {
    margin: auto;
    width: 240px;
    border-radius: 4px;
    background-color: #373b3d;
    padding: 8px 0px;
    margin-top: 15px;
}

.input-addon {
    float: left;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 4px 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

input[type=checkbox] {
    cursor: pointer;
}

input[type=text] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=text]:focus {
    border: 1px solid #373b3d;
}

input[type=password] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=password]:focus {
    border: 1px solid #373b3d;
}

input[type=email] {
    color: #949494;
    margin: 0;
    background-color: #373b3d;
    border: 1px solid #373b3d;
    padding: 6px 0px;
    border-radius: 3px;
}

input[type=email]:focus {
    border: 1px solid #373b3d;
}

.forgot-password {
    position: relative;
    bottom: 0%;
}

.forgot-password a:link {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:visited {
    color: #C1C3C6;
    text-decoration: none;
}

.forgot-password a:hover {
    color: #FFF;
    transition: color 1s;
}

.privacy {
    margin-top: 5px;
    position: relative;
    font-size: 12px;
    bottom: 0%;
}

.privacy a:link {
    color: #949494;
    text-decoration: none;
}

.privacy a:visited {
    color: #949494;
    text-decoration: none;
}

.privacy a:hover {
    color: #C1C3C6;
    transition: color 1s;
}

*:focus {
    outline: none;
}

.remember-me {
    margin: 10px 0;
}

input[type=submit] {
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

.register {
    margin: auto;
    padding: 16px 0;
    text-align: center;
    margin-top: 40px;
    width: 85%;
    border-top: 1px solid #C1C3C6;
}

.clearfix {
    clear: both;
}

#register-link {
    margin-top: 10px;
    padding: 6px 25px;
    background: #373E4A;
    color: #C1C3C6;
    font-weight: bold;
    border: 0 none;
    cursor: pointer;
    border-radius: 3px;
}

<< solo>> 
.solo {
    
    text-align: center;

}
.solo a
{
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.solo ul
{
    list-style: none;
}
.solo ul li
{
    display: inline;
}
.solo ul li a
{
    text-decoration: none;
    
    color: white;
    padding:20px;
    font-size: 20px;
}
.solo li:hover a{
   
    color: silver;
    text-decoration: none;
   
    }
    .package
    {
        padding: 30px;
    }
    .btn7
{

    background: #FFFF99;
    color: black;
    padding: 20px;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    
}
.btn7 a
{
    color: silver;
    font-size: 13px;
    text-decoration: none;

}
.btn7:hover {
    cursor: pointer;
    background: rgba(90, 86, 79, 0.199);
    color: black;
    transition: 0.7s;
}
.btn7 a:hover
{
    color: green;
}
